USE [master]
GO
/****** Object:  Database [Test2]    Script Date: 9/7/2021 3:39:35 PM ******/
CREATE DATABASE [Test2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Test2.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Test2_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/7/2021 3:39:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/7/2021 3:39:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserFullName] [nvarchar](100) NOT NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[UserPhone] [int] NOT NULL,
	[UserBirthday] [datetime2](7) NULL,
	[UserPassword] [varchar](50) NULL,
	[UserCreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210907053100_Init', N'3.1.10')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserFullName], [UserEmail], [UserPhone], [UserBirthday], [UserPassword], [UserCreatedAt]) VALUES (1, N'Hồ Mạnh Dũng', N'dunghm@gmail.com', 396313488, CAST(N'2000-08-24 14:01:00.0000000' AS DateTime2), N'C4CA4238A0B923820DCC509A6F75849B', CAST(N'2021-09-07 14:01:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
